body{
    background-color: rgb(249, 246, 238);
    
}

main{
    width: 50%;
    height: 50%;
    margin: auto;
}
.header{
    border-bottom: 2px salmon solid;
    margin: auto ;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header-name{
    font-weight: bold;
    font-size: xx-large;
    color: #DE5772;
}
.header-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.main{
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-weight: 300;
}
.header-icons-a{
    width: 10px;
    margin: 0 10px;
}

.header-icons > a > img{
    width: 1.5rem;

}
.main{
    margin: auto;
    padding: 10px;
    text-align: left;
}

.projects{
    margin: auto;
    padding: 10px;

}

.blogs{
    margin: auto;
    padding: 10px;
}

.blogs > p{
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: small;
}
.blogs > h3 {
    font-weight: lighter;
}

a{
    text-decoration: none;
}

span > p{
    text-indent: 10px;
}

.projects-heading, .blogs-header{
    color: #c57b8a;
    
}

.projects-heading:hover, .blogs-header:hover{
    color: #792d79;
    
}

.projects-links, .blogs-links{
    visibility: hidden;
}
@media screen and (max-width: 600px){
    main{
        width: 100%;
    }
}